[Unit]
Description=ari-web service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/ari-web
Environment=”PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin”
ExecStart=/etc/nginx/run

[Install]
WantedBy=multi-user.target
